[alias]
  aa = add --all
  ap = add --patch
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  ci = commit -v
  co = checkout
  pf = push --force-with-lease
  st = status
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = yellow
  untracked = white
[commit]
  template = ~/.gitmessage
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[fetch]
  prune = true
[init]
  templatedir = ~/.git_template
[merge]
  ff = only
[push]
  default = current
[rebase]
  autosquash = true
